
<div class="navbar-inner-fixed-top navbar-inverse">

  <div class="navbar-inner">
    <div class="container">

      <ul class="nav pull">


            <%= form_tag search_questions_path, :method => 'get' do %>
              <p>Categoria:</p>
                <%= text_field_tag :category_id, params[:category_id] %>
              <%#=  collection_select(:category_id, Category.all, :id, :title, :include_blank => true) %>
              <p>Fascia d'età:</p>
            <%#= text_field_tag :age_group_id, params[:age_group_id] %>
              <%#=  collection(:age_group_id, AgeGroup.all, :id, :name, :include_blank => true) %>
              <%#=  select_tag 'age_group', options_for_select(:age_group.name)%>

              <%= submit_tag 'Cerca', class: 'btn btn-success', :name => nil  %>
            <% end %>
      </ul>

    </div>
  </div>
</div>
