
<% unless current_user?(@user) %>
  <div id="like_question_form">

    <% if current_user.like_questions?(@question) %>
      <%= render 'dont_like_question' %>
    <% else %>
      <%= render 'like_question' %>
    <% end %>

  </div>
<% end %>
