
<div class="navbar-inner-fixed-top navbar-inverse">

  <div class="navbar-inner">
    <div class="container">

          <% if @category.any? %>
            <li><%= render partial: 'questions/category', collection: @category %></li>
          <% end %>
        </ul>

    </div>
  </div>
</div>

