<% provide :title %>

<% if signed_in?%>

  <%#= render 'list_category' %>
  <%#= render 'list_age_groups' %>

      <div class="row">
        <%= render 'questions/menu' %>
      </div>
      <div class="row">
        <br/>
        <%= render 'questions/search_form' %>
      </div>

    <br/>

    <h1>Le ultime dieci domande</h1>

  <ul class="users">
    <%= render @questions %>
  </ul>

<% end %>