<% provide :title %>

<% if signed_in?%>
  <h1>Le ultime dieci domande</h1>

  <%= render 'list_category' %>
  <%= render 'list_age_groups' %>
  <%= render 'questions/search_form' %>

  <ul class="users">
    <%= render @questions %>
  </ul>

<% end %>