<% provide :title %>

<% if signed_in?%>

  <div class="row">
    <%= render 'questions/menu' %>
  </div>

  <div class="row">
    <%= render 'questions/search_form' %>
  </div>

  <h1>Le ultime dieci domande</h1>

  <ul class="users">
    <%= render @questions %>
  </ul>

<% else %>
  <p>Login non effettuato. <%= link_to 'Home', root_path %> </p>
<% end %>