<% provide :title %>

<% if signed_in? %>

    <div class="row">

      <%= render 'list_category' %>

      <div class="span9">

        <h3>Domande</h3>
        <%=  render 'shared/query' %>
      </div>
    </div>


<% end %>