<div>

  <ul>
    <li><%= link_to "Azioni", current_user %></li>
    <li><%= link_to "Informazioni", edit_user_path(current_user) %></li>
    <li><%= link_to "Amici", amici_user_path(@user) %></li>
  </ul>

</div>