<div class="navbar-inner-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">

      <ul class="nav nav-list">
        <li><%= link_to "Azioni", current_user %></li>
        <li><%= link_to "Informazioni", informazioni_profilo_user_path(current_user) %></li>
        <li><%= link_to "Amici", friends_user_path(current_user) %></li>
      </ul>

    </div>
  </div>
</div>