
<li>
  <%= gravatar_for user, size: 52 %>
  <%= link_to user.name, user %>

  <% if current_user.admin? && !current_user?(user) %>
    <%= link_to 'Cancella', user, class:'btn btn-info btn-small', method: :delete, data: { confirm: 'Sei sicuro?' } %>
  <% end %>

</li>