<% provide :title, 'Utenti' %>

<% if signed_in? %>

  <h1>Tutti gli utenti</h1>

  <div class="offset3">

    <ul class="users">
      <%= render @users %>
    </ul>
    <%= will_paginate %>

  </div>

<% else %>
  <p>Login non effettuato. <%= link_to 'Home', root_path %> </p>
<% end %>