<div class="span2">
 <div id="boxA" ondragover="dragOver(event)" ondrop="dragDrop(event)">
   <%=  render 'shared/sfogo' %>
 </div>
   </div>
 <div class="offset2 separatore">
 <table class="tabella" >

   <tr>
     <td>
       <div id="boxB" ondragover="return dragOver(event)" ondrop="dragDrop(event)"></div>
     </td>
     <td>
       <div id="boxC" ondragover="return dragOver(event)" ondrop="dragDrop(event)"></div>
     </td>
     <td>
       <div id="boxD" ondragover="return dragOver(event)" ondrop="dragDrop(event)"></div>
     </td>
     <td>
       <div id="boxI" ondragover="return dragOver(event)" ondrop="dragDrop(event)"></div>
     </td>
   </tr>

   <tr>
     <td>
       <div id="boxE" ondragover="return dragOver(event)" ondrop="dragDrop(event)"></div>
     </td>
     <td>
       <div id="boxF" ondragover="return dragOver(event)" ondrop="dragDrop(event)"></div>
     </td>
     <td>
       <div id="boxG" ondragover="return dragOver(event)" ondrop="dragDrop(event)"></div>
     </td>
     <td>
       <div id="boxH" ondragover="return dragOver(event)" ondrop="dragDrop(event)"></div>
     </td>
   </tr>

   <tr>
     <td>
       <div id="boxL" ondragover="return dragOver(event)" ondrop="dragDrop(event)"></div>
     </td>
     <td>
       <div id="boxM" ondragover="return dragOver(event)" ondrop="dragDrop(event)"></div>
     </td>
     <td>
       <div id="boxN" ondragover="return dragOver(event)" ondrop="dragDrop(event)"></div>
     </td>
     <td>
       <div id="boxO" ondragover="return dragOver(event)" ondrop="dragDrop(event)"></div>
     </td>
   </tr>

   <tr>
     <td>
       <div id="boxP" ondragover="return dragOver(event)" ondrop="dragDrop(event)"></div>
     </td>
     <td>
       <div id="boxQ" ondragover="return dragOver(event)" ondrop="dragDrop(event)"></div>
     </td>
     <td>
       <div id="boxR" ondragover="return dragOver(event)" ondrop="dragDrop(event)"></div>
     </td>
     <td>
       <div id="boxS" ondragover="return dragOver(event)" ondrop="dragDrop(event)"></div>
     </td>
   </tr>

 </table>
</div>
