
 <div class="span2">
    <div id="boxA" ondragover="dragOver(event)" ondrop="dragDrop(event)">
      <%=  render 'shared/sfogo' %>
      </div>
   </div>
   <div class="row">
    <div id="boxB" ondragover="return dragOver(event)" ondrop="dragDrop(event)"></div>
   </div>