<%= form_for(@post) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="row">
      <div class="field span6">
         <%= f.text_area :content, placeholder: 'Cosa stai facendo?' %>
      </div>
      <div class="span2">
        <%= f.submit 'Post', class: 'btn btn-success' %>
      </div>
    </div>
<% end %>