
<div id="<%= sfogo_item.id %>" class="word" draggable="true" ondragstart="return dragDefine(event)" ondragend="dragEnd(event)">
  <br/><p class="user">
   <p class="nome1"> <%= link_to sfogo_item.user.name, sfogo_item.user %>  </p>
  </p>
  <p>
  <%= sfogo_item.content %>
  </p>
  <% if sfogo_item.user_id== current_user.id %>
      <%= link_to 'Cancella', sfogo_item, method: :delete, data: {confirm: 'Sei sicuro?'} %>
  <% end %>
</div>