<section>
  <%= gravatar_for current_user %>
  <h1><%= current_user.name %></h1>
  <span><%= link_to 'Modifica Profilo', edit_user_path(current_user) %></span>
  <span><b>Posts:</b> <%= current_user.posts.count %></span>
</section>