
<% unless current_user?(@user) %>
    <div id="like_answer_form">
      <% if current_user.like_answers?(@answer) %>
          <%= render 'answers/dont_like_answer' %>
      <% else %>
          <%= render 'answers/like_answer' %>
      <% end %>
    </div>

<% end %>
