
<%unless current_user?(@user) %>

<div id="like_answer_form_<%= @a.id %>" class= 'bottone_like'>

  <% if current_user.like_answers?(@a) %>
  <%= render 'answers/dont_like_answer' %>
  <% else %>
  <%= @a.id %>
  <%= render 'answers/like_answer' %>
  <% end %>
</div>

<% end %>