<% provide :title, 'About' %>

<h1>NewDad</h1>
<h2>Il nuovo social network per i papà!</h2>

<p class="center">Al giorno d’oggi diventa sempre più difficile pensare ad un nuovo social network utile e originale.
  Ormai siamo circondati e viviamo di pari passo con loro,li utilizziamo per
  restare in contatto con le persone, scambiarci informazioni, organizzare
  viaggi ed eventi, condividere avvenimenti più o meno importanti della nostra vita, per esporre
  domande, o dubbi, che probabilmente di persona avremmo timore o vergogna nel farle.
  Ed è proprio quest’ultimo punto che abbiamo deciso di approfondire, creare
  un social network che potesse dare consigli e rispondere a dubbi o perplessità.
  Arrivate a questo punto abbiamo dovuto scegliere il target di persone
  che aveva meno possibilità di avere risposte, o per mancanza di informazioni
  o per mancanza di siti dedicati.
  Per questo motivo abbiamo deciso di concentrarci sulle figure dei neogenitori, infatti,
  abbiamo constatato nelle nostre ricerche, che in Italia esistono alcuni siti dedicati ai
  neogenitori, ma sono, per la maggior parte, dei forum o dei blog. L’obiettivo che ci siamo poste
  è stato, quindi, quello di creare un social network specifico per rispondere ai bisogni dei neogenitori e in particolare dei papà.</p>
