<% provide :title, 'Contact' %>

<h1>Contatti</h1>
<p class="center">Maria Teresa Gabbiadini (<a href="mailto:mariateresa.gabbiadini@studenti.polito.it?subject=New Dad">mariateresa.gabbiadini@studenti.polito.it</a>)</p>
<p class="center">Giulia Liberti (<a href="mailto:giulia.liberti@studenti.polito.it?subject=New Dad">giulia.liberti@studenti.polito.it</a>)</p>
