<% provide :title, 'Contact' %>

<h1>Contact</h1>
<p>Maria Teresa Gabbiadini (<a href="mailto:mariateresa.gabbiadini@studenti.polito.it?subject=New Dad">mariateresa.gabbiadini@studenti.polito.it</a>)</p>
<p>Giulia Liberti (<a href="mailto:giulia.liberti@studenti.polito.it?subject=New Dad">giulia.liberti@studenti.polito.it</a>)</p>
