<% provide :title, 'Eventi' %>

<div class="row" xmlns="http://www.w3.org/1999/html">
  <div class="span3">
          <button type="submit" class="btn-info btn-large">Nuovo evento</button>
  </div>
  <div class=span3>
        <p>Tipo di evento</p>
        <select>
          <option>Teatro</option>
          <option>Cinema</option>
          <option>Gioco</option>
          <option>Musica</option>
          <option>Festa</option>
        </select>
  </div>
  <div class=span3>
    <p>Fascia età</p>
    <select>
      <option>0-3 mesi</option>
      <option>3-6 mesi</option>
      <option>6-9 mesi</option>
      <option>9-12 mesi</option>
      <option>12-18 mesi</option>
      <option>18-24 mesi</option>
      <option>3-6 anni</option>
      <option>6-11 anni</option>
      <option>11-14 anni</option>
      <option>14-20 anni</option>
      <option>20 anni</option>
    </select>
  </div>
</div>

<div class="row">
  <div class="span3 offset3">
    <p>Luogo</p>
    <div class="input-append">
      <input class="span2" size="16" type="text" placeholder="Inserisci luogo">
      <span class="add-on"><i class="icon-map-marker"></i></span>  </div>
  </div>
  <div class="span3">
    <p>Parola chiave</p>
    <div class="input-append">
    <input class="span2" size="16" type="text" placeholder="Parola chiave">
    <span class="add-on"><i class="icon-tags"></i></span>  </div>
  </div>
  <div class="span3">
    <p>Data evento</p>
  <div class="input-append date" id="dp3" data-date-format="dd-mm-yyyy">

      <input class="span2" size="16" type="text" placeholder="Data evento">
      <span class="add-on"><i class="icon-th"></i></span>
    </div>
  </div>
  <div class="span3 offset3">
    <br/>
    <button type="submit" class="btn-info btn-large">Cerca</button>
  </div>
</div>
               <br/>
     <div class="center">
         <h3>Eventi</h3>
     </div>
<div class="row">
  <div class="span1 offset3">
     <%= image_tag("profilo_eventi1.png") %>
  </div>
  <div class="span4">
        <a href="#"class="nome"> Mari</a>
        <p><a href="#">Spettacolo di burattini</a></p>
        <p class="timestamp"> Evento creato 2 giorni fa</p>
 </div>
</div>
<br/>
<div class="row">
  <div class="span1 offset3">
    <%= image_tag("profilo_eventi2.png") %>
  </div>
  <div class="span4">
    <a href="#" class="nome"> Giulia</a>
    <p><a href="#">Festa in maschera</a></p>
    <p class="timestamp"> Evento creato 6 giorni fa</p>
  </div>
</div>
