/*Immagine di sfondo*/
.muro{
  background-image: url("muro.jpeg");
  height: 100%;
  width: 100%;
}

/*BoxA - box dove vengono messi i postit appena creati*/
#boxA{
  float:left;
  width:33%;
  height:80%;
}

/*Tabella nella quale possiamo spostare i postit*/
.tabella {
  margin-left: 4%;
  margin-top: 1%;
  border-left: 2px solid black;
}

/*Box singoli dove possono essere messi i postit*/
#boxB, #boxC, #boxD, #boxE, #boxF, #boxG, #boxH,  #boxI,#boxL, #boxM,#boxN,#boxO,#boxP, #boxQ,#boxR, #boxS, {
  float:left;
  width:190px;
  height:190px;

}

/*POSTIT*/
.word {
  width: 170px;
  height: 170px;
  padding:3px;
  margin:5px;
  text-align:center;
  word-wrap: break-word;

  /*Colore di sfondo dei postit*/
  background: -moz-radial-gradient(center, ellipse cover,   #f3ff8e 0%, #ffb907 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #f3ff8e), color-stop(100%, #ffb907));
  background: -webkit-radial-gradient(center, ellipse cover,   #f3ff8e 40%, #ffb907 100%);
  background: -o-radial-gradient(center, ellipse cover,  #f3ff8e 0%, #ffb907 100%);
  background: -ms-radial-gradient(center, ellipse cover, #f3ff8e 0%, #ffb907 100%);
  background: radial-gradient(center, ellipse cover,  #f3ff8e 0%, #ffb907 100%);

   /*Ombra dei postit*/
  -moz-box-shadow:5px 5px 2px #333333;
  -webkit-box-shadow:5px 5px 2px #333333;
  box-shadow:5px 5px 2px #333333;
}

*[draggable=true] {
  -moz-user-select:none;
  -khtml-user-drag: element;
  cursor: move;
}

/*Nome utente*/
.nome1{
  text-transform: uppercase;
}