<% provide :title, 'Domande' %>

<h1>Tutti le domande</h1>

<%= render 'questions/list_category' %>


<div class="span9">
  <h3>Wall</h3>
  <%= @cat %>
  <%#  render 'categories/query_list' %>
</div>